<h2>Üyeler</h2>

<button mat-fab color="primary" matTooltip="Üye Ekle" (click)="UyeEkle()">
  <mat-icon aria-label="label">add</mat-icon>
</button>
<p>&nbsp;</p>
<mat-form-field appearance="outline">
  <input matInput placeholder="Aranacak Bir Değer Giriniz" (keyup)="Filtrele($event)">
</mat-form-field>
<mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="uyeMail">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Üye Mail
    </mat-header-cell>
    <mat-cell *matCellDef="let kayit"> {{kayit.uyeMail}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="uyeAdsoyad">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Adı Soyadı
    </mat-header-cell>
    <mat-cell *matCellDef="let kayit"> {{kayit.uyeAdsoyad}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="uyeDersSayisi">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Ders Sayısı
    </mat-header-cell>
    <mat-cell *matCellDef="let kayit"> {{kayit.uyeDersSayisi}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="uyeAdmin">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Yetkisi
    </mat-header-cell>
    <mat-cell *matCellDef="let kayit"><span *ngIf="kayit.uyeAdmin == 1">Admin</span><span  *ngIf="kayit.uyeAdmin == 0">Üye</span></mat-cell>
  </ng-container>
  <ng-container matColumnDef="islemler">
    <mat-header-cell *matHeaderCellDef> İşlemler
    </mat-header-cell>
    <mat-cell *matCellDef="let kayit">
      <button mat-icon-button color="primary" matTooltip="Ders Listesi" [routerLink]="['/derslistele',kayit.uyeId]">
        <mat-icon aria-label="label">list</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Öğrenci Düzenle" (click)="UyeDuzenle(kayit)">
        <mat-icon aria-label="label">edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" matTooltip="Öğrenci Sil" (click)="UyeSil(kayit)">
        <mat-icon aria-label="label">delete</mat-icon>
      </button>

    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[ 10, 25, 100,500]">
</mat-paginator>
